/* Estilo general */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden; /* Para evitar scroll */
}

.app-logo img {
    max-width: 120px;
    height: auto;
}

.container-historial {
    width: 90%;
    max-width: 500px;
    text-align: center;
    background: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    color: #139b2d;
}

p {
    font-size: 1rem;
    color: #333;
}

/* Responsividad */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    .container-historial {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .container-historial {
        width: 100%;
        padding: 10px;
    }
}
